@tailwind base;
@tailwind components;
@tailwind utilities;

body, p {
    font-family: Radio Canada,sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(191 190 203/var(--tw-text-opacity));
}

h1 {
  line-height: 1.2;
  font-weight: 700;
  font-size: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Radio Canada, sans-serif;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(250 250 250 / var(--tw-text-opacity));
  word-break: break-word;
}

@media (min-width: 768px) {
  h1 {
    font-size: 46px;
    line-height: 1.2;
  }

  p.lead {
    font-size: 18px;
  }
}

@media (min-width: 640px) {
  .sm\:inline {
    display: inline;
  }
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(114 226 174 / var(--tw-text-opacity));
}

p.lead {
  font-size: 18px;
  line-height: 1.5;
}

*::after,
::before {
  border: 0 solid #e5e7eb;
}

.blurredBg {
  position: relative;
}

.bg-grey {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}

.backdrop-filter {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}

.backdrop-blur,
.backdrop-blur-lg {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}

.Welcome-Wrappwer {
  opacity: 1;
  transform: none;
}

.herosection-imageanimation {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.Welcome-image-inner-span {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.Welcome-image-inner-span-inside {
  box-sizing: border-box;
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 100% 0px 0px;
}

.Welcome-picture {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 92%;
  max-width: 92%;
  min-height: 92%;
  max-height: 92%;
  border-radius: 50%;
}

.from-primary {
  --tw-gradient-from: #72e2ae;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(114, 226, 174, 0));
}
