*{
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden
}

section .row{
    top: -50%;
    width: 100%;
    position: relative;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 64px;
    transform: rotate(-30deg);
}

section .row div{
    animation: animateDown 80s linear infinite;
    animation-delay: -80s;
}

section .row div:nth-child(2){
    animation: animateShadowDown 80s linear infinite;
    animation-delay: -40s;
}

section .row:nth-child(even) div{
    animation: animateUp 80s linear infinite;
    animation-delay: -80s;
}

section .row:nth-child(even) div:nth-child(2){
    animation: animateShadowUp 80s linear infinite;
    animation-delay: -40s;
}

.icon{
    color: rgba(0, 0, 0, 0.2);
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    cursor: default;
}

.icon:hover{
    transition: 0;
    color: rgba(41, 224, 53, 0.342);
    text-shadow: 0 0 120px rgba(41, 224, 53, 0.342);
}

.child{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
}

@keyframes animateDown{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes animateShadowDown{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes animateUp{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes animateShadowUp{
    0%{
        transform: translateX(200%);
    }
    100%{
        transform: translateX(0%);
    }
}